<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>                                                         <!-- TO INTRODUCE THE LISTENER IN THE XML THESE ARE THE STEPS -->

<listener class-name="extentListeners.Listeners"></listener>

</listeners>




  <test thread-count="5" name="Test">
    <classes>
      <class name="testclasses.LoginTest"/>
         <class name="testclasses.DashBoardTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
